.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #88a6f9;
    border-radius: 10px;
}

.display {
    width: 92%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b58a5;
    color: white;
}
